<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meli9</title>
    <style>
      body {
        background-color: #f5c293;
      }
      button {
        cursor: pointer;
      }
      .code_token {
        /* background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%); */
        background-color: #3483fa;
        color: #ffffff;
        border-radius: 1rem;
        box-sizing: border-box;
        font-size: 16px;
        justify-content: center;
        text-decoration: none;
        width: 150px;
        height: 3em;
        border: 0;
      }
      .code_token:hover {
        /* background-image: linear-gradient(-18deg, #1d95c9 0%, #17759c 100%); */
        color: black;
      }
      .meli {
        width: 150px;
        height: 75px;
        background-color: #ffe600;
        overflow-wrap: break-word;
        white-space: normal;
        border-radius: 1em;
        align-items: center;
        justify-content: center;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
          sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 15px;
        font-weight: 500;
        border: 0;
      }
      .meli:hover {
        color: rgba(41, 40, 40, 0.377);
      }
      .response-area {
        background-color: #ffe3c8;
        overflow-wrap: break-word;
      }
      #label_form {
        width: 270px;
        display: inline-block;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <p></p>
    <div>
      <h2>Gerar Code/Token</h2>
      <button class="code_token" onclick="window.location.href='/getcode'">
        Gerar Code
      </button>
      <% if (locals.code) { %> Code: <%=code%> <% } %>
    </div>
    <p></p>
    <div>
      <button class="code_token" onclick="window.location.href='/gettoken'">
        Gerar Token
      </button>
      <% if (locals.token) { %> Token: <%=token%> <% } %>
    </div>
    <p></p>
    <hr />
    <p></p>
    <h2>Realizar API</h2>
    <div>
      <button class="meli" onclick="window.location.href='/pessoais'">
        Informações da Conta
      </button>
      <button class="meli" onclick="window.location.href='/mmpublico'">
        MM - Dados Públicos
      </button>
      <button
        class="meli"
        onclick="window.location.href='/anunciosdropcreateinserttable'"
      >
        Atualiza a Table Anuncios
      </button>
      <button
        class="meli"
        onclick="window.location.href='/atualizartablefretes'"
      >
        Atualiza a Table Fretes
      </button>
      <button class="meli" onclick="window.location.href='/pedidosupserttable'">
        Atualiza a Table Pedidos
      </button>
    </div>
    <hr />
    <div class="form-area">
      <h2>Formulários</h2>
      <form action="/consultauser" method="POST">
        <label id="label_form" for="user"
          >Consultar um Usuário (ID ou Nickname):</label
        >
        <input
          type="user"
          id="consultauser"
          name="user"
          placeholder="1375484326 ou mais+modelismo"
        />
        <button type="submit">Consultar</button>
      </form>
      <p></p>
      <form action="/consultaseller" method="POST">
        <label id="label_form" for="seller">Consultar um Vendedor (ID):</label>
        <input
          type="seller"
          id="consultaseller"
          name="seller"
          placeholder="670550295"
        />
        <button type="submit">Consultar</button>
      </form>
    </div>
    <hr />
    <% if (locals.url_api) { %>
    <div>
      <h2>URL da API:</h2>
      <p><%=url_api%></p>
    </div>
    <% } %>
    <p></p>
    <% if (locals.resultado_api) { %>
    <div>
      <h2>Resultado da API:</h2>
      <div class="response-area">
        <p><%=resultado_api%></p>
      </div>
    </div>
    <% } %> <% if (locals.resultado_api_um) { %>
    <div>
      <h2>Resultado da API:</h2>
      <div class="response-area">
        <p><%=resultado_api_um%> <%=resultado_api_dois%></p>
        <p><%=resultado_api_tres%></p>
        <p><%=resultado_api_quatro%></p>
      </div>
    </div>
    <% } %>
  </body>
</html>
