<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meli9</title>
    <style>
      body {
        background-color: blanchedalmond;
      }
      .code_token {
        width: 100px;
        overflow-wrap: break-word;
        display: inline-block;
        background-color: aquamarine;
      }
      .code_token:hover {
        width: 100px;
        overflow-wrap: break-word;
        display: inline-block;
        background-color: greenyellow;
      }
      .meli {
        height: 50px;
        /* height: 20em; */
        width: 10em;
        background-color: yellow;
        overflow-wrap: break-word;
        white-space: normal;
        display: block;
        border-radius: 2em;
      }
      /* .meli:hover {
        height: 200px;
        width: 200px;
        background-color: plum;
        overflow-wrap: break-word;
        white-space: normal;
        display: inline-block;
        border-radius: 2em;
      } */
    </style>
  </head>
  <body>
    <p></p>
    <div>
      <button class="code_token" onclick="window.location.href='/getcode'">
        Gerar Code
      </button>
      <% if (locals.code) { %> Code: <%=code%> <% } %>
    </div>
    <p></p>
    <div>
      <button class="code_token" onclick="window.location.href='/gettoken'">
        Gerar Token
      </button>
      <% if (locals.token) { %> Token: <%=token%> <% } %>
    </div>
    <p></p>
    <hr />
    <p></p>
    <h2>Realizar API</h2>
    <div>
      <button class="meli" onclick="window.location.href='/mmpublico'">
        MM - Dados Públicos
      </button>
      <button class="meli" onclick="window.location.href='/pessoais'">
        Informações da Conta
      </button>
      <button
        class="meli"
        onclick="window.location.href='/anunciosdropcreateinserttable'"
      >
        Gera Table Anuncios
      </button>
      <button
        class="meli"
        onclick="window.location.href='/atualizartablefretes'"
      >
        Atualiza Parcialmente a Table Fretes
      </button>
      <button class="meli" onclick="window.location.href='/pedidosupserttable'">
        Atualiza a Table Pedidos
      </button>
    </div>
    <hr />
    <form action="/consultauser" method="POST">
      <label for="user">ID/Nickname Usuário:</label>
      <input
        type="user"
        id="consultauser"
        name="user"
        placeholder="1375484326 ou mais+modelismo"
      />
      <button type="submit">Consultar Usuário</button>
    </form>
    <form action="/consultaseller" method="POST">
      <label for="seller">ID do Vendedor:</label>
      <input
        type="seller"
        id="consultaseller"
        name="seller"
        placeholder="670550295"
      />
      <button type="submit">Consultar Vendedor</button>
    </form>
    <hr />
    <% if (locals.url_api) { %>
    <div class="question-area">
      <h2>URL da API:</h2>
      <p><%=url_api%></p>
    </div>
    <% } %>
    <p></p>
    <% if (locals.resultado_api) { %>
    <div class="response-area">
      <h2>Resultado da API:</h2>
      <p><%=resultado_api%></p>
    </div>
    <% } %> <% if (locals.resultado_api_um) { %>
    <div class="response-area">
      <h2>Resultado da API:</h2>
      <p><%=resultado_api_um%> <%=resultado_api_dois%></p>
      <p><%=resultado_api_tres%></p>
      <p><%=resultado_api_quatro%></p>
    </div>
    <% } %>
  </body>
</html>
